/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

@media (max-width:700px) {
    .players{
     flex-direction: column;
     width: 30%;
     flex-wrap: wrap;
    }
    .more-player{
        flex-direction: column;
        width: 30%;
        flex-wrap: wrap;
    }
    .more-player1{
        flex-direction: column;
        width: 30%;
        flex-wrap: wrap;
    }
    .more-player2{
        flex-direction: column;
        width: 30%;
        flex-wrap: wrap;
    }
    .header-area{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .header-area{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer-area{
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
    }

}


.heading-style{
    color: salmon;
}
.para-heading{
    color: skyblue;
}
 
/* header section style */
.container{
    display: grid;
    grid-template-columns: 1fr;
    width: 99.9%;
    height: 700px;
    background: #2D25A0;
}

.header-area{
    display: flex;
    row-gap: 10px;
    width: 90%;
    align-items: center;
    margin: 20px;
    
}
.header-content{
    width: 50%;
    height:230px;
    margin-top: 0px;
    margin-left: 100px;
  
}
.header-banner{
    width: 50%;
}
.hedding-style{
    color: white;
    font-size: 60px;
    margin: 8px;
}
.btn-area{
    display: flex;
    width:168px;
    height: 44px;
    color: #ffffff;
    background: #E02C6D;
    padding: 2px;
    border-radius: 15px;
}
.btn{
    text-decoration: none;
    padding:10px;
    font-size: 16px;
    font-weight: 600px;
    color: #ffffff; 
}
.btn-area:hover{
    background: pink;
    
    
}
 .row{
    padding-top:10px ;
}
.header-banner{
    width: 557px;
    height: 438px;
    margin-top: 153px;
    margin-left: 35px;
}
.header-banner img{
    width: 556px;
    height: 438px;

}
/* main section style */

/* players section */
.main-area{
    display: grid;
    grid-template-columns: repeat(3,4fr);
    align-items: center;
    width: 85%;
}

.players{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    width: 85%;
    /* flex-direction: row ; */
    margin-top: 30px;
    margin-left: 80px;

}
.player{
    
    width: 330px;
    height: 474px;
    background-color: #FFFFFF;
    margin-left: 10px;

    padding: 15px;
    border-radius: 10px;
}
.player img{
    width: 325px;
    height: 256px;
    padding: 0px;

}
/* more-player */
.more-player{
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    width: 85%;
    margin-left: 115px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.more-player1{
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    width: 85%;
    margin-left: 115px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.more-player2{
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    width: 85%;
    margin-left: 115px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.single-player{
    width: 330px;
    height: 474px;
    background-color: #FFFFFF;
    margin-left: 10px;

    padding: 15px;
    border-radius: 10px;
}
.single-player img{
    width: 325px;
    height: 256px;
    padding: 0px;
}

/* highlights area */
.highlets-area{
    display: flex;
    align-items: center;
    margin: 80px;
}
.content-area{
    width: 50%;
    height: 309px;
    margin: 30px;

}
.image-area{
    width: 50%;
    height: 427px;
    margin-left: 100px;

}
.image-area img{
    width: 100%;
}

/* footer section */
.footer-area{
    display: flex;
    text-align: center;
    margin: 0px;
}
.logo{
    width:483px ;
    height: 213px;
    margin-left: 300px;
}
.logo-img{
    width: 483px;
    height: 110px;
}
.logo img{
    width: 100%;
    margin-left: 10px;
}
.social-icon{
    margin-left: 7px;
    margin: 10px;
    font-size: 28px;
}
.icon{
    margin-left: 10px;
    size: 20px;

}